.health-check-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &.correct {
    background: var(--health-check-green);
  }

  &.warning {
    background: var(--health-check-yellow);
  }

  &.error {
    background: var(--health-check-red);
  }

  &.notApplicable {
    background: var(--health-check-grey);
  }
}
