.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.page-title {
  margin-left: var(--table-side-padding);
}

.table-grid {
  grid-template-columns: 3fr repeat(4, 1fr) 120px 120px 120px;
  min-width: 1300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}
